@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kaushan+Script&family=Lobster&family=Montserrat&family=Open+Sans:wght@500&family=Poppins:wght@400;500;700&family=Style+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: 200px;
	grid-gap: 3rem;
	grid-row-gap: 4rem;
	justify-content: center;
    padding: 20px;
}

.card{
    width: 100%;
    height: 220px;
    padding: 10px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 248, 248);
    position: relative;
}

.btn-number{
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: 8%;
    left: 8%;
}

.btn{
    padding: 20px 35px;
    border-radius: .5rem;
    cursor: pointer;
    
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.btn1{
    background: #3ac0e4;
    border: 2px solid #3ac0e4;
    transition: .35s linear;
}

.btn1:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    background: white;
    color: #3ac0e4;
}

/* btn 2 */

.btn2{
    position: relative;
    overflow: hidden;
    border: 2px solid red;
    z-index: 99;
    transition: .5s linear;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.btn2::before{
    content: "";
    width: 110%;
    height: 100%;
    background: red;
    top: -50%;
    left: -5%;
    position: absolute;
    z-index: -1;
    transition: .5s all ease-in-out;
}
.btn2::after{
    content: "";
    width: 110%;
    height: 100%;
    background: red;
    top: 50%;
    left: -5%;
    transition: .5s all ease-in-out;
    position: absolute;
    z-index: -1;
}

.btn2:hover{
    color: red;
}

.btn2:hover::after{
    transform: translateY(70%);
}
.btn2:hover::before{
    transform: translateY(-70%);
}


/* btn3 */

.btn3{
    background: transparent;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 0;
}

.btn3::before{
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 130%;
    height: 150%;
    background: #000;

    transition: .4s ease-in-out;
    transform: skew(20deg);
}

.btn3:hover::before{
    left: 110%;
    transform: skew(0deg);
}

.btn3 span{
    mix-blend-mode: difference;
    text-transform: uppercase;
    font-weight: 600;
}


/* btn4 */

.btn4{
    background: #a7a7a7;
	font-weight: 700;
    border: 1px solid black;
	border-radius: 5px;
    color: black;
    position: relative;
    box-shadow: 3px 3px 0 black;
    transition: .2s ease-in-out;
}

.btn4:hover{
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px 0 black;
}


/* btn5 */

.btn5{
    border-radius: 4rem;
    background: #fbeee0;
    border: 2px solid #422800;
    box-shadow: 4px 4px 0 #422800;
    color: #422800;
    padding: 15px 35px;
    transition: .15s;
}

.btn5:hover{
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 #422800;
}

/* btn6 */

.btn6{
    padding: 20px 35px;
    border-radius: .3rem;
    background: white;
    border: 2px solid #0d172a;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn6::before{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: #0d172a;
    border-radius: 50%;
    z-index: -1;

    transition: .65s ease-in-out;
}

.btn6:hover::before{
    transform: translate(-50%, -50%);
}

.btn6:hover span{
    color: white;
    z-index: 2;
}

.btn6 span{
    z-index: 2;
    color: #0d172a;
    font-weight: 600;
    transition: .65s ease-in-out;
}

/* btn7 */

.btn7{
    color: white;
    border: none;
    background-size: 200% auto;
    background-image: linear-gradient(45deg, #2f52ff 0%, #1996f0 51%, #2f52ff 100%);
    transition: 0.5s;
}

.btn7:hover{
    background-position: right center;
    box-shadow: 0 0 10px rgba(47, 82, 255, 0.5);
}

/* btn8 */

.btn8{
    background: black;
    color: white;
    border: none;
    transition: .5s ease-in-out;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.btn8:hover{
    border-radius: 0;
}

/* btn9 */

.btn9{
    /* background: #ff7300; */
    border: none;
    border-radius: 5rem;
    background: white;
    color: black;
    box-shadow: 10px 10px 10px rgba(0,0,0,.05);
    transition: .5s;
}

.btn9:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

/* btn10 */

.btn10{
    border-radius: 4rem;
    background: white;
    border: none;
    color: black;
    transition: .5s;
    border: 1px solid black;
}

.btn10:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,.08) inset,
                5px 5px 5px rgba(0,0,0,.03);
}

/* btn11 */

.btn11{
    background: linear-gradient(to right, rgb(216, 26, 89), rgb(26, 39, 216));
    border: none;
    padding: 15px 40px;
    border-radius: 5rem;
    transition: .35s;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn11:hover{
    transform: scale(1.07);
}

.btn11:active{
    transform: scale(1.03);
}

/* btn12 */

.btn12{
    width: 150px;
    padding: 15px 20px;
    font-size: 22px;
    font-weight: 700;
    background: rgb(89, 77, 253);
    border: 2px solid rgb(89, 77, 253);
    position: relative;
    transition: all .5s;
    overflow: hidden;
}

.btn12 span{
    transition: all .5s;
    position: absolute;
    right: -15%;
    top: 46%;
    transform: translateY(-50%);
    font-size: 2rem;
    opacity: 0;
}

.btn12:hover span{
    right: 20%;
    opacity: 1;
}

.btn12:hover{
    padding-left: 15px;
    padding-right: 30px;
}